.footer
	background: $blanco
	margin: 0 0
	padding: 60px 0 15px 0
	.container
		max-width: 1240px
		padding: 0px 20px
		margin: auto

.container--middle
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start

.footer__direction,
.footer__datos
	width: 25%
	margin: auto

.footer__redes
	width: 45%
	margin: auto
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center
	li
		margin: 0
		padding: 0px 30px

.footer__redes__icons
	position: relative
	span
		font-size: 25px
		color: $c-0
		position: relative
	&:hover
		span
			color: $negro
			transition: all 0.5s ease
	&:hover:before
		content: ''
		position: absolute
		width: 25px
		height: 16px
		background: $c-4
		right: -5px
		bottom: -5px
		transition: all 0.8s ease


.footer__direction__text
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding-bottom: 20px
	span
		font-size: 24px
		margin: 0
		color: $c-0


.footer__direction__text__p
	padding-left: 20px
	line-height: 1.6
	p
		font-family: $t-0
		color: $c-0
		font-size: 15px
		margin-bottom: 0

.footer__direction__map
	padding-left: 38px
	button
		font-family: $t-0
		border: none
		background: transparent
		font-size: 15px
		color: $c-3
		position: relative
		padding: 8px 0px
		&:before
			content: ''
			position: absolute
			width: 85%
			height: 1px
			left: 0
			bottom: 0
			background-color: $c-3

.footer__datos__phone
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	padding-bottom: 20px
	span
		margin: 0
		font-size: 24px
		color: $c-0
		padding-right: 15px


.footer__datos__phone__text
	a
		font-family: $t-0
		font-size: 15px
		color: $c-0

.footer__datos__email
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	align-items: center
	p 
		font-family: $t-0
		color: $c-0
		font-size: 15px
		margin-bottom: 0
	span
		margin: 0
		font-size: 15px
		color: $c-0
		padding-right: 15px

.footer-bottom
	margin-top: 40px
	color: $c-0
	font-size: 13px
	padding-top: 15px
	p 
		margin: 0
	a 
		color: $c-0
		font-weight: bold
.container--bottom
	text-align: center

.footer__bottom__derechos
	display: inline-block
	padding-right: 20px

.footer__bottom__web
	display: inline-block


@media screen and (max-width: 1090px)
	.footer__direction,
	.footer__datos
		width: 30%

	.footer__redes
		width: 40%

// @media screen and (max-width: 767px)
// 	.footer-ctn-sub
// 		margin-bottom: 20px
// 		&:nth-child(3)
// 			margin-bottom: 0


//map
.map-footer
	.cnt-map
		.map
			width: 100%
			height: 100%
		.box-map
			position: fixed
			left: 0
			top: -200%
			height: 100%
			width: 100%
			z-index: 3000
			transition: all 0.5s
			&.anima-map
				top: 0

.footer__direction__map
	display: block

.button__cerrar__map
	position: absolute
	top: 20px
	right: 80px
	z-index: 2100

@media screen and (max-width: 1025px)
	.footer__redes
		display: none

	.footer__direction, .footer__datos
		width: 45%

@media screen and (max-width: 640px)

	.footer__direction
		width: 100%
		padding-bottom: 30px

	.footer__datos
		width: 100%

	.footer__direction__text, .footer__datos__phone, .footer__datos__email
		justify-content: center

	.footer__direction__map
		text-align: center
		padding-left: 0
	.footer__bottom__derechos, .footer__bottom__web
		display: block
		text-align: center
		padding-bottom: 10px

