.header__visible
	.header__nav 
		.logo__header
			opacity: 1
.header__wrap
	width: 100%
.header__redes
	width: 6%
	padding: 0 15px 0 15px
	display: flex
	justify-content: flex-end
	position: absolute
	top: 250px
	left: 0
.header__redes__ctn
	width: 30px
	li
		text-align: center
		margin: 0 0 25px 0
		&:last-child
			margin: 0
	a
		color: $c-0
		font-size: 22px
		transition: all .3s ease-in-out
		position: relative
		&:after
			content: ""
			position: absolute
			bottom: -10px
			right: -10px
			height: 17px
			width: 25px
			background: $c-4
			transition: all .3s ease-in-out
			opacity: 0
		&:before
			position: relative
			z-index: 2
	p 
		margin: 61px 0 0 0
		color: $c-0
		text-transform: uppercase
		font-size: 13px
		font-family: $t-0
		transform: rotate(270deg)
		text-align: center
		width: 85px
		height: 70px
.header__nav
	width: 100%
	position: relative
	height: 110px
	z-index: 999
	&.active
		nav
			border-bottom: 2px solid #99A4AE
			background: $blanco
			z-index: 3
			transition: all 0.3s ease-in-out
		.logo__header
			opacity: 1
	nav
		width: 100%
		height: 100%
		padding: 0 5px 0 0
		box-sizing: border-box
		height: 110px
		display: flex
		align-items: center
		margin: auto
		position: fixed
		top: 0
		left: 0
		right: 0
	ul
		display: flex
		justify-content: flex-end
		margin: 0
		align-items: center
	li
		margin: 0 0 0 25px
		position: relative
		font-family: $t-0
		font-size: 13px
		text-transform: uppercase

		&:first-child
			margin: 0
		&.link__tel
			margin-left: 70px
			a
				padding-left: 30px
				color: $c-2
				&:before
					content: "\e90a"
					position: absolute
					top: 0
					left: 0
					color: $c-3
					font-size: 20px
					font-family: icomoon
	a
		position: relative
		display: block
		width: 100%
		color: $c-0
		transition: all .3s ease-in-out
		&.active
			color: $c-2
.nav__header
	display: flex
	justify-content: space-between
	width: 88%
	margin: 0 auto
.logo__header
	width: 145px
	opacity: 0
	transition: all .2s ease-in-out
	img
		max-width: 100%
		display: block
		height: auto
@media screen and (min-width: 1025px)
	.header__nav
		a:hover
			color: $c-2
	.header__redes__ctn
		a:hover
			color: $c-2
			&:after
				opacity: .8

@media screen and (max-width: 1025px)
	.header__redes
		display: none

// menu responsive
.menu-sidebar
	position: fixed
	top: 0
	right: 0
	width: 250px
	height: 100%
	overflow-y: auto
	background: $blanco
	z-index: 1500
	right: -250px
	transition: all .3s ease-in-out
	padding: 5px 0 20px 0

.menu-sidebar.active
	right: 0
	width: 50%

.header-menu-overlay
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: $negro
	opacity: 0
	visibility: hidden
	z-index: -1
	transition: all .2s ease-in-out

.header-menu-overlay.active
	opacity: .6
	visibility: visible
	z-index: 1400

.menu-sidebar
	.menu-responsive
		display: block
		margin-top: 20px
	.header-item
		display: block
	.header-link 
		display: block
		padding-left: 30px
		font-size: 14px
		height: 45px
		line-height: 45px
		color: $c-3
		text-decoration: inherit
	.header-languages-select
		padding-left: 30px
		margin-top: 20px
	.header-languages-select select
		color: $c-0 
		font-size: 14px
		width: 90px
	.header-languages-select:before
		color: $c-0

.menu-sidebar
	.header-link.active 
		background: $c-0
		color: $blanco 


.responsive-logo
	display: block
	width: 60%
	margin: auto
	margin-top: 20px
	img 
		display: block
		width: 100%
		height: auto
	.header-logo-desktop
		display: none
	.header-logo-scroll
		display: block
	


.menu-mobile-close, .menu-mobile-open
	background: transparent
	border-radius: 7%
	color: $c-2
	cursor: pointer
	font-size: 30px
	height: 35px
	width: 35px
	line-height: 35px
	position: fixed
	right: 10px
	text-align: center
	top: 15px
	transition: all 0.3s ease-in-out
	display: none

.menu-mobile-open
	opacity: 1
	visibility: visible
	z-index: 1000

.menu-mobile-open.active
	visibility: hidden
	opacity: 0
	z-index: 1000
	transform: rotate(-90deg)

.menu-mobile-close
	opacity: 0
	visibility: hidden
	z-index: 1000
	background: transparent
	color: $c-2

.menu-mobile-close.active
	visibility: visible
	opacity: 1
	right: 20px
	font-size: 30px
	z-index: 9999

body.active
	overflow: hidden

.menu-sidebar-cnt
	padding: 80px 30px 30px 30px
	overflow: auto
	height: calc(100% - 150px)

.menu__mobile__logo
	width: 180px

.menu__mobile__list
	padding-top: 14%
	padding-left: 25px
	padding-bottom: 14%
	li
		font-size: 16px
		text-transform: uppercase
		padding: 15px 0px
		a
			font-family: $t-0
			color: $c-2
	.link__tel
		margin-top: 20px
		padding: 0
		position: relative
		a
			padding-left: 30px
			color: $c-2
			position: relative
			&:before
				content: "\e90a"
				position: absolute
				bottom: 2px
				left: 0
				color: $c-3
				font-size: 15px
				font-family: icomoon

.responsive__header__redes
	padding: 20px 30px
	text-align: center
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: flex-start
		align-items: center
		li
			margin-left: 0
			margin-right: 30px
			font-size: 22px
			color: $c-2

.menu__responsive__content__logos
	position: absolute
	width: 100%
	height: 90px
	background: $c-5
	bottom: 0
	left: 0


@media screen and (max-width: 1024px)

	.header-logo
		max-width: 80px

	.menu-mobile-close, .menu-mobile-open
		display: block

	.nav__header
		width: 95%
		ul
			display: none

	
	.header__nav
		height: 70px
		nav
			height: 70px

@media screen and (max-width: 990px)
	.logo__header
		opacity: 1
		width: 115px
	

@media screen and (max-width: 640px)
	.responsive-logo
		display: none

@media screen and (max-width: 580px)
	.menu-sidebar.active
		width: 80%

	.responsive__header__redes
		ul
			li

				margin-right: 20px
