@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kzbvtd');
  src:  url('../fonts/icomoon.eot?kzbvtd#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kzbvtd') format('truetype'),
    url('../fonts/icomoon.woff?kzbvtd') format('woff'),
    url('../fonts/icomoon.svg?kzbvtd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-2:before {
  content: "\e900";
}
.icon-twitter-2:before {
  content: "\e901";
}
.icon-youtube-2:before {
  content: "\e902";
}
.icon-instagram-2:before {
  content: "\e903";
}
.icon-borders:before {
  content: "\e904";
}
.icon-ubicacion:before {
  content: "\e905";
}
.icon-calendario:before {
  content: "\e906";
}
.icon-mouse:before {
  content: "\e907";
}
.icon-cel:before {
  content: "\e908";
}
.icon-correo:before {
  content: "\e909";
}
.icon-ICONOS-11:before {
  content: "\e90a";
}
.icon-arrow-bottom:before {
  content: "\e90b";
}
.icon-ICONOS-13:before {
  content: "\e90c";
}
.icon-ICONOS-14:before {
  content: "\e90d";
}
.icon-search-2:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-phone:before {
  content: "\e60a";
  color: #444;
}
.icon-youtube:before {
  content: "\e601";
}
