footer.footer(role='contentinfo')
  .footer-middle
    .container.container--middle
      .footer__direction
        .footer__direction__text
          span.icon-ubicacion
          .footer__direction__text__p
            p Av 28 de Julio 1181 - Calle B #31 
            p La Victoria, Lima - Peru
        .footer__direction__map
          button.btn__footer__map.abrir-map Ver mapa de ubicación
        .map-footer
          .cnt-map
            .box-map
              .map#google-maplima
              .button__cerrar__map
                a.btn.btn-enlace.btn-pink.cerrar-map( href='') Cerrar mapa

      .footer__redes
        ul
          li
            a.footer__redes__icons(href="", target='_blank')
              span.icon-instagram-2
          li
            a.footer__redes__icons(href="", target='_blank')
              span.icon-facebook-2
          li
            a.footer__redes__icons(href="", target='_blank')
              span.icon-youtube-2
          li
            a.footer__redes__icons(href="", target='_blank')
              span.icon-twitter-2

      .footer__datos
        .footer__datos__phone
          span.icon-cel
          .footer__datos__phone__text
            a(href="tel:6740376") (01) 6740 - 376 
            a(href="tel:874833487") / 874 - 833 - 487
        .footer__datos__email
          span.icon-correo
          p eventos@lamarie.com
  .footer-bottom
    .container.container--bottom
      .footer__bottom__derechos
         p La Marié 2017 Todos los derechos reservados
      .footer__bottom__web
         p Diseño web: 
          a(href='https://www.staffdigital.pe/', target='_blank') staffdigital