.header__wrap
	.header__redes
		.header__redes__ctn
			ul
				li
					a(href="", target="_blank").icon-facebook-2
				li
					a(href="", target="_blank").icon-twitter-2
				li
					a(href="", target="_blank").icon-youtube-2
				li
					a(href="", target="_blank").icon-instagram-2
			p Síguenos :
	.header__nav 
		nav
			.nav__header
				.logo__header
					a(href="")
						img(src=`${STATIC_URL}img/logo-color.png`, width="145", height="67")
				ul
					li
						a.miclase(data-url='/conocenos/',href="#conocenos",data-title='conocenos') Conócenos
					li
						a.miclase(data-url='/experiencia/',href="#experiencia",data-title='experiencia') Experiencia
					li
						a.miclase(data-url='/servicios/',href="#servicios",data-title='servicios') Servicios
					li
						a.miclase(data-url='/galeria/',href="#galeria",data-title='galeria') Galería
					li
						a.miclase(data-url='/contacto/',href="#contacto",data-title='contacto') Contacto
					li.link__tel
						a(href="tel:890 908 758") 890 908 758

//- header menu responsive
.menu-mobile-open.icon-menu
.menu-mobile-close.icon-close

.header-menu-overlay
.menu-sidebar
	.menu-sidebar-cnt
		.menu__mobile__content
			.menu__mobile__logo
				img(src=`${STATIC_URL}img/logo-color.png`, width="145", height="67")
			.menu__mobile__list
				ul
					li
						a.miclase(data-url='/conocenos/',href="#conocenos",data-title='conocenos') Conócenos
					li
						a.miclase(data-url='/experiencia/',href="#experiencia",data-title='experiencia') Experiencia
					li
						a.miclase(data-url='/servicios/',href="#servicios",data-title='servicios') Servicios
					li
						a.miclase(data-url='/galeria/',href="#galeria",data-title='galeria') Galería
					li
						a.miclase(data-url='/contacto/',href="#contacto",data-title='contacto') Contacto
					li.link__tel
						a(href="tel:890 908 758") 890 908 758
					
	.menu__responsive__content__logos
		.responsive__header__redes
			ul
				li
					a.responsive__header__redes__icons(href="", target='_blank')
					span.icon-instagram-2
				li
					a.responsive__header__redes__icons(href="", target='_blank')
					span.icon-facebook-2
				li
					a.responsive__header__redes__icons(href="", target='_blank')
					span.icon-youtube-2
				li
					a.responsive__header__redes__icons(href="", target='_blank')
					span.icon-twitter-2

