extends ./_common/base.pug
//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	section.mapcontacto
		.cnt-map
			.abrir-map Abrir mapa
			.box-map
				#google-maplima.map
				.btn-azul.cerrar-map cerrar mapa
	
	section.tabfull
		.tabcontacto
			.contac-nav
				.contac-padding
					h2 Escríbenos y nos contactaremos
					.contact-tex
						p Escribenos tus dudas, consultas que tengas e inmediatamente nos estaremos conmunicando contigo.
					.contact-tabs
						a(href='', data-tab='contac-tab-1', class="active") LIMA
						a(href='', data-tab='contac-tab-2') AREQUIPA
						a(href='', data-tab='contac-tab-3') TRUJILLO
					.contact-envolver-tab
						-for (var i = 0; i < 3; i++)
							.contc-info(id=`contac-tab-${i+1}`)
								.contact-itm
									a(href="") (511) 512-3100
								.contact-itm
									a(href="") ejuan@bestsecurityperu.com
								.contact-itm
									p Calle Rodolfo Beltrán 134 Urb. Santa Catalina, La Victoria - Lima 13 - Perú
				.contacredes
					span Síguenos en:
					a(href="", class="icon-facebook")
					a(href="", class="icon-youtube2")
					a(href="", class="icon-twitter")
			.contac-form
				form(action="")
					ul
						li
							.contac-input
								input(type="text", name="nombre_apellido", placeholder="Nombres y Apellidos")
							.contac-input
								input(type="text", name="telefono", placeholder="Teléfono")
						li
							.contac-input
								input(type="text", name="", placeholder="Email")
							.contac-input
								input(type="text", name="empresa", placeholder="Empresa")
						li
							.contac-input.contactextarea
								textarea(name="mensaje", placeholder="Mensaje")
									
					a.btn.btn-productos( href='') 
						span.text-btn enviar
						
//- js
append scripts 
	script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(function() {
			function initMap() {
				var $map = $( '#google-maplima' );
				if ( ! $map.length ) return;
				var myLatlng = new google.maps.LatLng(-12.086676, -77.051926,18); // <- Your latitude and longitude
				var styles = [
					{"featureType": "water","stylers": [{"color": "#eee"},{"visibility": "on"}]},
					{"featureType": "landscape","stylers": [{"color": "#f2f2f2"}]},
					{"featureType": "road","stylers": [{"saturation": -100},{"lightness": 45}]},
					{"featureType": "road.highway","stylers": [{"visibility": "simplified"}]},
					{"featureType": "road.arterial","elementType": "labels.icon","stylers": [{"visibility": "off"}]},
					{"featureType": "administrative","elementType": "labels.text.fill","stylers": [{"color": "#444444"}]},
					{"featureType": "transit","stylers": [{"visibility": "off"}]},
					{"featureType": "poi","stylers": [{"visibility": "off"}]}
				]
				var mapOptions = {
					zoom             : 15,
					center           : myLatlng,
					mapTypeControl   : true,
					disableDefaultUI : true,
					zoomControl      : true,
					scrollwheel      : false,
					styles           : styles,
					draggable        : true
				}
				var map = new google.maps.Map(document.getElementById('google-maplima'), mapOptions);

				var marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:"{{STATIC_URL}}img/marker.png"
				});
			}
			google.maps.event.addDomListener(window, 'load', initMap),
			$(".cnt-map .abrir-map").click(function(event) {
				$(".box-map").addClass('anima-map');
			});
			$(".cnt-map .cerrar-map").click(function(event) {
				$(".box-map").removeClass('anima-map');
			});
		});
