extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'header__visible'
//- ---

//- Contenido
block content
	section.enviado
		.enviado__container
			.enviado__image
				img(src=`${STATIC_URL}img/enviado-img.png`)
			.enviado__content
				.enviado__title
					.title__general.title__general__dos
						.title__absolute enviado
						p
							span.title__blue Gracias, tu mensaje
							span.title__pink ha sido enviado
				.enviado__text
					p Uno de nuestros asesores se estará contactando contigo a la brevedad posible, para darte mayor detalle a tus dudas.
				.enviado__btn
					a.btn.btn-enlace.btn-pink( href='') Página principal

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})