extends ./_common/base.pug

//- css
append css
	//- link(rel="stylesheet", href=`${STATIC_URL}js/bxslider/jquery.bxslider.css`)

//- body classs
block vars
	- var bodyClass = 'header__visible'
//- ---

//- Contenido
block content
	section.error
		.error__container
			.error__image
				img(src=`${STATIC_URL}img/error-image.png`)
			.error__content
				.error__title
					.title__general.title__general__dos
						.title__absolute error 404
						p
							span.title__blue Upps! parece que
							span.title__pink hay problemas
				.error__text
					p Página no encontrada. Esta página puede estar no disponible o haber cambiado de dirección o no existir. Compruebe si la dirección es correcta.
				.error__btn
					a.btn.btn-enlace.btn-pink( href='') Página principal

//- js
append scripts 
	//- script(src=`https://maps.googleapis.com/maps/api/js?v=3.exp${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			//code here ------
		})