extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/slick/slick-theme.css`)
	link(rel="stylesheet", href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-fb-comment-box.css`)
	link(rel="stylesheet", href=`${STATIC_URL}js/lightgallery/fancy-full/lg-transitions.css`)

//- body classs
block vars
	- var bodyClass = 'class'
//- ---

//- Contenido
block content
	.banner__home__prin
		.banner__home
			.banner__home__top
				.banner__home__bar
				.banner__home__slider
					ul.slider-home
						- for (var i = 1; i <= 4; i++)
							li
								.banner__home__item(style=`background-image: url('${STATIC_URL}img/banner-home.jpg');`)
									.banner__home__item__ctn
										.banner__home__logo
											figure
												img(src=`${STATIC_URL}img/logo.png`, width="145", height="67")
											.banner__home__lines
												span.line-1
												span.line-2
												span.line-3
												span.line-4
												span.line-5
			.banner__home__info#conocenos
				.banner__home__info__image
					.banner__image
						.banner__home__info__img
							img(src=`${STATIC_URL}img/galeria-3.jpg`)
				.banner__home__info__prin
					.banner__home__info__sec
						.title__general.title__general__dos
							.title__absolute pasión y detalle
							p
								span.title__blue Compromiso
								span.title__pink y calidad al 100%
						.banner__home__parraf
							p Estamos 100% comprometidos con el servicio de calidad. Con más de 20 años de experiencia en la planificación de eventos sociales y catering corporativo, nuestro personal puede ayudarlo a seleccionar el menú correcto al precio correcto.
	.home__btn
		a(href="#experiencia").button__down 
			h3 Comentarios
			span.icon-arrow-bottom
	.ctn__conocenos#experiencia(style=`background-image: url('${STATIC_URL}img/banner-conocenos.jpg');`)
		.ctn__conocenos__slider
			ul.slider-conocenos
				- for (var i = 1; i <= 2; i++)
					li
						.title__general.title__general__dos
							.title__absolute experiencia y pasión
							p
								span.title__blue Que perdudará
								span.title__pink en cada detalle
						.conocenos__parraf
							p Me encanta el catering que realizaron para mi boda. ¡Fue espectacular! La Marie y el personal son geniales para trabajar y muy profesional. ¡Muy recomendable! sdsd
						.conocenos__name
							h4 Luisa Ortega
						ul.conocenos__items
							- for (var a = 1; a <= 4; a++)
								li
									img(src=`${STATIC_URL}img/ico-star.png`, width="15", height="14")
					li
						.title__general.title__general__dos
							.title__absolute experiencia y pasión
							p
								span.title__blue Que perdudará
								span.title__pink en cada detalle
						.conocenos__parraf
							p Me encanta el catering que realizaron para mi boda. ¡Fue espectacular! La Marie y el personal son geniales para trabajar y muy profesional. ¡Muy  vcfrecomendable! sdsd
						.conocenos__name
							h4 Randol Ortega
						ul.conocenos__items
							- for (var a = 1; a <= 4; a++)
								li
									img(src=`${STATIC_URL}img/ico-star.nm n nm   , mj  png`, width="15", height="14")
	.conocenos__btn
		a(href="#servicios").button__down 
			h3 Servicios
			span.icon-arrow-bottom
	section.ctn__servicios#servicios
		.ctn__servicios__prin
			.title__general.title__general__dos
				.title__absolute empecemos ahora
				p
					span.title__blue Porque sabemos como hacer 
					span.title__pink que tu evento sea un éxito
			.servicios__content__box__items
				.ctn__servicios__items
					- for (var a = 1; a <= 6; a++)
						a(href="servicios.html").servicio__item
							.lines__border
							.lines__container
								.line__1
								.line__2
								.line__3
								.line__4
							.servicio__item__title
								h3 Wedding
								h4 Corporativos
							.servicio__item__img
								img(src=`${STATIC_URL}img/img-servicio.png`, width="307", height="382")
				.cont__slider__box
					ul.box__item__slider
						li.item__slider
							a(href="servicios.html").servicio__item
								.servicio__item__title
									h3 Wedding
									h4 Corporativos
								.servicio__item__img
									img(src=`${STATIC_URL}img/img-servicio.png`, width="307", height="382")
						li.item__slider
							a(href="#").servicio__item
								.servicio__item__title
									h3 Wedding
									h4 Corporativos
								.servicio__item__img
									img(src=`${STATIC_URL}img/img-servicio.png`, width="307", height="382")
						li.item__slider
							a(href="#").servicio__item
								.servicio__item__title
									h3 Wedding
									h4 Corporativos
								.servicio__item__img
									img(src=`${STATIC_URL}img/img-servicio.png`, width="307", height="382")
	section.home__detalles
		.home__detalles__container
			.home__detalles_title
				.title__general
					p
						span.title__blue Siempre pensando
						span.title__pink en los pequeños detalles
			.home__detalles__content
				- for (var x = 1; x <= 3; x++)
					.home__detalles__box
						.home__detalles__box__item
							.home__detalles__box__number
								span 2
							.home__detalles__item__title
								h4 Toldos
							.home__detalle__item__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu tempus nibh. Etiam hendrerit porttitor pharetra.
				
	.servicios__btn
		a(href="#galeria").button__down 
			h3 Galeria
			span.icon-arrow-bottom
	section#galeria.ctn__galeria__prin
		.ctn__galeria
			.title__general.title__general__dos
				.title__absolute memorables
				p
					span.title__blue Tú celebras
					span.title__pink nosotros creamos
			.ctn__galeria__tab
				ul.galeria__tab
					li
						a(href="", data-id="1").btn__tab__gallery.active Bodas
					li
						a(href="", data-id="2").btn__tab__gallery Corporativo
					li
						a(href="", data-id="3").btn__tab__gallery Social
					li
						a(href="", data-id="4").btn__tab__gallery Otros
				.ctn__galeria__img
					-for (var i = 0; i < 4; i++)
						.ctn__galeria__img__prin(id=`${i+1}`)
							.ctn__galeria__img__sec
								ul.slider-galeria.galeria--fancy
									- for (var a = 1; a <= 3; a++)
										li
											.ctn__galeria__items
												a.item__galeria(href=`${STATIC_URL}img/galeria-1.jpg`,style=`background-image: url('${STATIC_URL}img/galeria-1.jpg');`)
													.galeria__title
														h2 Bodas
												a.item__galeria(href=`${STATIC_URL}img/galeria-2.jpg`,style=`background-image: url('${STATIC_URL}img/galeria-2.jpg');`)
													.galeria__title
														h2 Bodas
												a.item__galeria(href=`${STATIC_URL}img/galeria-3.jpg`,style=`background-image: url('${STATIC_URL}img/galeria-3.jpg');`)
													.galeria__title
														h2 Bodas
												a.item__galeria(href=`${STATIC_URL}img/galeria-4.jpg`,style=`background-image: url('${STATIC_URL}img/galeria-4.jpg');`)
													.galeria__title
														h2 Bodas
												a.item__galeria(href=`${STATIC_URL}img/galeria-5.jpg`,style=`background-image: url('${STATIC_URL}img/galeria-5.jpg');`)
													.galeria__title
														h2 Bodas
					.galeria__buttons__ctn
									

	.clientes__btn
		a(href="#clientes").button__down 
			h3 Clientes
			span.icon-arrow-bottom

	section#clientes.home__clientes
		.home__clientes__container
			.home__clientes__content
				.home__clientes__box
					.home__clientes__box__title
						.title__general.title__general__dos
							.title__absolute confianza
							p
								span.title__blue Ellos confiaron
								span.title__pink sus momentos
					.home__clientes__box__text
						.home__clientes__box__p
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu tempus nibh. Etiam hendrerit porttitor pharetra.
				.home__clientes__logos




	.form__g__btn
		.button__down 
			h3 Contáctanos
			span.icon-arrow-bottom
	section.form__g#contacto
		.form__g__background(style=`background-image: url('/assets/img/formulario-fondo-img.png');`)
			.form__g__container
				.form__g__title
					.title__general.title__general__dos
						.title__absolute empieza ahora
						p
							span.title__blue El gran día se acerca
							span.title__pink planificamos tu evento
				.form__g__text
					p Estamos para ayudar a que su evento sea más fácil. Complete el siguiente formulario y ascesor de nuestras oficinas se pondrá en contacto.
				form.form__g__inputs
					ul
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="Nombre y Apellidos*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="email", class="validate[required] general__input__input" placeholder="e-mail*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="teléfono*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="tipo de evento*")
						li.form__g__box__input
							.form__g__input.form__g__input__datepicker
								.form__g__input__icon
									span.icon-calendario
								.form__g__input--calendario
								input.form__contact.form__contact--input.datepicker(type="text", class="validate[required] general__input__input" placeholder="fecha de evento*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="N° de invitados*")
						li.form__g__box__textarea
							.form__g__input
								textarea.form__contact.form__contact--textarea(name="mensaje", placeholder="detalle su evento*", class="validate[required]")
				.form__g__btn
					button.btn.btn-enlace.btn-pink( href='') ¡ENVIA AHORA! >>



//- js
append scripts 
	script(src=`${STATIC_URL}js/slick/slick.min.js`)
	script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lightgallery.js`)
	script(src=`${STATIC_URL}js/lightgallery/fancy-full/lg-fullscreen.js`)
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src=`https://maps.googleapis.com/maps/api/js?key=${ GOOGLE_APIKEY }`)
	script.
		$(()=>{
			$('.slider-home').slick({
				dots: false,
				infinite: true,
				speed: 500,
				vertical: true
			});

			$('.button__down').click(function(e){
			 e.preventDefault();
				 volver  = $(this).attr('href');
				 $('html, body').animate({
					 scrollTop: $(volver).offset().top
				 }, 2000);
			 });
			$('.slider-conocenos').slick({
				dots: false,
				infinite: true,
				speed: 700,
				fade: true,
				responsive: [
					{
						breakpoint: 660,
						settings: {
							arrows: false,
							autoplay: true,
							autoplaySpeed: 2000,
							infinite: true
						}
					}
				]

			});
			$('.ctn__galeria__img__prin:first-child').addClass('active');
			$('.slider-galeria').each(function(i,el){
			i=i+1;
			$('.galeria__buttons__ctn').append('<ul class="galeria__buttons s'+i+' '+(i==1?"active":"")+'">'
						+'<li class="btn__gallery__prev s'+i+'">Vuelve</li>'
			 			+'<li class="btn__gallery__next s'+i+'">Descubre más</li>'
					+'</dilv>');
				$(this).slick({
				  dots: false,
				  infinite: true,
				  speed: 600,
				  fade: true,
				  slidesToShow: 1,
				  slidesToScroll: 1,
				  prevArrow:'.btn__gallery__prev.s'+i,
				  nextArrow:'.btn__gallery__next.s'+i
				});
			})
			$('.box__item__slider').slick({
				dots: true,
				infinite: true,
				speed: 300,
				slidesToShow: 2,
				autoplay: false,
				adaptiveHeight: true,
				responsive: [
					{
						breakpoint: 690,
						settings: {
							slidesToShow: 1,
							slidesScroll: 1,
							infinite: true,
							autoplay: true,
							dots: false
						}
					},
				]
			});

			$('.ctn__galeria__img__prin:first-child').addClass('active');
			$('.btn__tab__gallery').click(function(event){
				event.preventDefault();	

				// capturamos el data-id			
				var bdataid = $(this).attr('data-id');
				$(".btn__tab__gallery").removeClass('active');
				$(this).addClass('active');
				$('.galeria__buttons').removeClass('active');
				$('.galeria__buttons.s'+bdataid).addClass('active');

				//
				$(".ctn__galeria__img__prin").removeClass('active');
				$('.ctn__galeria__img__prin[id="'+bdataid+'"]').addClass('active');
			});

			$('.b3-tab ul li').click(function(e) {
			e.preventDefault();
			var dt = $(this).data('tab');
			$('.b3-tab ul li, .b3-item-tab').removeClass('active');
			$(this).addClass('active');
			$('.b3-cnt-btnslick').removeClass('active');
			$('.b3-cnt-btnslick.s'+dt).addClass('active');
			$('.b3-item-tab[id="b3-tab-'+dt+'"]').addClass('active');
		})



			//--- Jquery Datepicker Spanish
			$.datepicker.regional['es'] = {
				closeText: 'Cerrar',
				prevText: '<Ant',
				nextText: 'Sig>',
				currentText: 'Hoy',
				monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
				dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
				dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
				dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
				weekHeader: 'Sm',
				dateFormat: 'dd/mm/yy',
				firstDay: 1,
				isRTL: false,
				showMonthAfterYear: false,
				yearSuffix: ''
			};
			$.datepicker.setDefaults($.datepicker.regional['es']);

			$( ".datepicker" ).datepicker({
				numberOfMonths: 1,
				showButtonPanel: true,
				showOn: "both",
				// buttonImage: "../static/img/icon-flecha-down.png",
				buttonImageOnly: true,
				buttonText: "Select date"
			});
			$('.form__g__input--calendario').click(function() {
				$('.ui-datepicker-trigger').trigger('click');
			});

			//- fancy img		
			$('.galeria--fancy').lightGallery({
				selector: 'a'
			});

			// agrupando creando divs

			var divs = $('.ctn__servicios__items .servicio__item');

			for(var i = 0; i < divs.length; i+=3) {
				divs.slice(i, i+3).wrapAll('<div class="servicios__content__block"></div>');
			}


			// animation image description
			$('.banner__home__info__image').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}else {
						// $(el).removeClass('active');
						$('.banner__home__info__image').eq(0).addClass('active');
					}
				}, {
					offset:'100%'
				});
			});
			

			// agrupando creando divs DETALLES

			var width = $(window).innerWidth();
			if (width > 990) {
				//- agrupando creando divs
				var divs = $('.home__detalles__box');

				for(var i = 0; i < divs.length; i+=3) {
					divs.slice(i, i+3).wrapAll('<div class="home__detalles__three"></div>');
				}
			}
			else{
				$('.home__detalles__content').each(function(i,el){
					i=i+1;
					$(this).slick({
						arrows: false,
						dots: false,
						infinite: true,
						autoplay: true,
						slidesToShow: 2,
						slidesScroll: 1,
						responsive: [
							{
								breakpoint: 481,
								settings: {
									slidesToShow: 1,
									slidesScroll: 1,
									infinite: true,
									autoplay: true,
									dots: false
								}
							},
						]
					});
				});
			};

			// animation image description
			$('.home__detalles__box').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}else {
						// $(el).removeClass('active');
						$('.home__detalles__box').eq(0).addClass('active');
					}
				}, {
					offset:'100%'
				});
			});
			//- waypoint-footer
			 var servicios=$('.ctn__servicios__items');
			 servicios.waypoint(function(direction) {
				if (direction === 'down') {
					$('.servicio__item__title').addClass('active')
				}
			}, {
				offset:'80%'
			});

		
		})