extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")

//- Contenido
block content
	section.servicios__banner
		.banner__home__prin
			.banner__home
				.banner__home__top
					.banner__home__bar
					.banner__home__slider
						.banner__home__item(style=`background-image: url('${STATIC_URL}img/banner-home.jpg');`)
							.banner__home__item__ctn
								.banner__home__logo
									figure
										img(src=`${STATIC_URL}img/logo.png`, width="145", height="67")
									.banner__home__lines
										span.line-1
										span.line-2
										span.line-3
										span.line-4
										span.line-5

	section.servicios__description
		.servicios__description__content
			.servicios__title
				.title__general.title__general__dos
					.title__absolute pasión y detalle
					p
						span.title__blue Wedding
						span.title__pink Planner
			.servicios__text
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu tempus nibh. Etiam hendrerit porttitor pharetra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu tempus nibh. Etiam hendrerit porttitor pharetra.

	section.servicios__galeria
		.servicios__galeria__main
			.servicios__galeria__items
				- for (var x = 0; x < 4; x++)
					.servicios__galeria__item
						.servicios__galeria__title
							h3 Tortas y Bocaditos
						.servicios__galeria__img
							img(src=`${STATIC_URL}img/servicios-img-1.jpg`)
						.servicios__galeria__content
							.servicios__galeria__text
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu tempus nibh. Etiam hendrerit porttitor pharetra.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu tempus nibh. Etiam hendrerit porttitor pharetra.
		
	.form__g__btn
		a(href="#contactanos").button__down 
			h3 Contáctanos
			span.icon-arrow-bottom
	section#contactanos.form__g
		.form__g__background(style=`background-image: url('/assets/img/formulario-fondo-img.png');`)
			.form__g__container
				.form__g__title
					.title__general.title__general__dos
						.title__absolute empieza ahora
						p
							span.title__blue Déjanos hacer
							span.title__pink el trabajo por ti
				.form__g__text
					p Estamos para ayudar a que su evento sea más fácil. Complete el siguiente formulario y ascesor de nuestras oficinas se pondrá en contacto.
				form.form__g__inputs
					ul
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="Nombre y Apellidos*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="email", class="validate[required] general__input__input" placeholder="e-mail*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="teléfono*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="tipo de evento*")
						li.form__g__box__input
							.form__g__input.form__g__input__datepicker
								.form__g__input__icon
									span.icon-calendario
								.form__g__input--calendario
								input.form__contact.form__contact--input.datepicker(type="text", class="validate[required] general__input__input" placeholder="fecha de evento*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="N° de invitados*")
						li.form__g__box__textarea
							.form__g__input
								textarea.form__contact.form__contact--textarea(name="mensaje", placeholder="detalle su evento*", class="validate[required]")
				.form__g__btn
					button.btn.btn-enlace.btn-pink( href='') ¡ENVIA AHORA! >>

	

//- js
append scripts 
	script(src=`${STATIC_URL}js/jquery.waypoints.js`)
	script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")
	script.
		$(()=>{
			
			//servicios galeria
			var g_itemx = ['box--one','box--two','box--three','box--four'];
			$('.servicios__galeria__item').each(function(i,e){
				$(e).addClass(g_itemx[i%g_itemx.length]);
			});

			// animation
			$('.servicios__galeria__item').each(function(index, el) {
				$(el).waypoint(function(direction) {
					if (direction === 'down') {
						$(el).addClass('active');
					}else {
						// $(el).removeClass('active');
						$('.servicios__galeria__item').eq(0).addClass('active');
					}
				}, {
					offset:'100%'
				});
			});

			//formulario
			$.datepicker.regional['es'] = {
				closeText: 'Cerrar',
				prevText: '<Ant',
				nextText: 'Sig>',
				currentText: 'Hoy',
				monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
				dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
				dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
				dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
				weekHeader: 'Sm',
				dateFormat: 'dd/mm/yy',
				firstDay: 1,
				isRTL: false,
				showMonthAfterYear: false,
				yearSuffix: ''
			};
			$.datepicker.setDefaults($.datepicker.regional['es']);

			$( ".datepicker" ).datepicker({
				numberOfMonths: 1,
				showButtonPanel: true,
				showOn: "both",
				// buttonImage: "../static/img/icon-flecha-down.png",
				buttonImageOnly: true,
				buttonText: "Select date"
			});
			$('.form__g__input--calendario').click(function() {
				$('.ui-datepicker-trigger').trigger('click');
			});

			// banner
			$('.servicios__banner').each(function(index, el) {
				$(el).addClass('active');
			});
			
			//line-btn
			$('.button__down').click(function(e){
			 e.preventDefault();
			     volver  = $(this).attr('href');
			     $('html, body').animate({
			         scrollTop: $(volver).offset().top
			     }, 2000);
			 });
		})