.error__container
	max-width: 680px
	margin: auto
	padding: 0px 20px

.error__image
	width: 450px
	margin: auto

.error__content
	text-align: center
	padding-top: 50px

.error__title
	.title__absolute
		font-size: 170px

.error__text
	font-family: $t-0
	font-size: 15px
	color: $c-1
	padding: 45px 0px
	p
		margin-bottom: 0

@media screen and (max-width: 640px)
	.error__image
		width: 360px

@media screen and (max-width: 480px)
	.error__image
		width: 260px

	.error__title
		.title__absolute
			font-size: 100px