.clientes__btn
	margin: 50px 0 0 0
	width: 100%
	text-align: center

.home__clientes
	padding-bottom: 80px
	padding-top: 80px

.home__clientes__container
	max-width: 1370px
	margin: auto
	padding: 0px 20px

.home__clientes__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center
	align-items: center

.home__clientes__box
	width: 35%

.home__clientes__box__text
	max-width: 330px
	width: 100%
	margin: auto
	padding-top: 40px

.home__clientes__box__p
	font-family: $t-0
	font-size: 15px
	color: $c-1
	text-align: center
	p
		margin-bottom: 0

.home__clientes__logos
	width: 45%


@media screen and (max-width: 890px)
	.home__clientes__box
		width: 100%

@media screen and (max-width: 640px)
	.home__clientes__box__p
		font-size: 14px