.banner__home__info
	width: 100%
	display: flex
	justify-content: flex-end
	align-items: center
	padding-top: 80px
.banner__home__info__prin
	width: 70%

.banner__home__info__image
	width: 20%
	z-index: 99
	transform: translateY(20%)
	transition: transform 1s

.banner__home__info__img
	transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
	img
		transform: scale(1.5);
		transition: transform 1s
.banner__image
	overflow: hidden
.banner__home__info__sec
	margin: 0 auto
	max-width: 730px
	padding: 0px 20px
.banner__home__parraf
	max-width: 550px
	width: 100%
	margin: auto
	padding-top: 40px
	text-align: center
	p
		margin: 0
		color: $c-7
		font-size: 17px
		font-family: $t-1
		line-height: 1.5

@media screen and (min-width: 1025px)
	.banner__home__info__image
		&.active
			transform: translateY(0)
			.banner__home__info__img
				img
					transform: scale(1)


@media screen and (max-width: 1300px)
	.banner__home__info__image
		width: 27%

@media screen and (max-width: 1025px)
	.banner__home__info__image
		display: none

	.banner__home__info__prin
		width: 100%

