

.ctn__servicios
	width: 100%
	margin: 60px 0 0 0
	padding-bottom: 80px
.ctn__servicios__prin
	max-width: 1240px
	margin: auto
	padding: 0px 20px
.ctn__servicios__items
	margin: 80px 0 0 0
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center

.servicios__content__block
	width: 100%
	display: flex
	flex-direction: row
	flex-wrap: wrap
.lines__border
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	border: 20px solid #eee8e2
	box-sizing: border-box
	z-index: 3
	pointer-events: none
.servicio__item
	width: 28% 
	margin: 0 8% 0 0
	height: 440px
	display: block
	padding: 20px
	transition: all .3s ease-in-out
	padding-right: 15px
	box-sizing: border-box
	position: relative
	&:nth-child(2)
		margin-top: 130px 
	&:last-child
		margin: 0
.lines__container
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: white
	
.line__1
	content ""
	position: absolute
	width: 21px
	background-color: #f9c7bb
	left: 0
	bottom: 0
	height: 100%
	padding-bottom: 0
	z-index: 55
.line__2
	content ""
	position: absolute
	width: 100%
	background-color: #f9c7bb
	top: 0
	left: 0
	height: 21px
	text-align: center
	margin: auto
	z-index: 55
.line__3
	position: absolute
	width: 21px
	background-color: #f9c7bb
	right: 0
	top: 0
	bottom: 0
	height: 100%
	padding-bottom: 0
	z-index: 55
.line__4
	content ""
	position: absolute
	width: 100%
	background-color: #f9c7bb
	bottom: 0
	right: 0
	height: 21px
	padding-bottom: 0
	z-index: 55
@media screen and (min-width: 1025px)
	.line__1
		height: 0
	.line__2
		width: 0
	.line__3
		height: 0
	.line__4
		width: 0
	.servicio__item
		&:hover
			.line__1
				height: 100%
				transition: all .5s ease 

			.line__2
				width: 100%
				transition: all .5s ease .5s

			.line__3
				height: 100%
				transition: all .5s ease 1s

			.line__4
				width: 100%
				transition: all .5s ease 1.5s

.servicio__item__title
	padding: 50px 0 0 0
	// position: relative
	position: absolute
	width: 60%
	z-index: 150
	right: 0
	// margin-left: 40%
	transition: all 850ms ease
	transform: translateX(-130px)
	h3
		color: $c-9
		font-family: $t-0
		font-size: 16px
		font-weight: normal
		margin: 0
	h4
		font-weight: normal
		margin: 12px 0 0 0
		font-family: $t-3
		font-size: 45px
		color: $c-2
	@media screen and (min-width: 1025px)
		&.active
			transform: translateX(0)
			


.servicio__item__img
	width: 80%
	position: absolute
	bottom: -40px
	z-index: 99
	left: -20px
	img
		max-width: 100%
		height: auto
		display: block


@media screen and (min-width: 1025px)
	.servicio__item
		&:hover
			border-color: rgba(212, 116, 122, .3)
@media screen and (max-width: 1025px)
	.ctn__servicios__items
		display: none
@media screen and (max-width: 980px)
	.servicio__item
		width: 80%
	.servicio__item
		.servicio__item__title
			margin-left: 0
			text-align: right
@media screen and (max-width: 1025px)
	.servicio__item__title
		&.active
			transform: translateX(0px)
	.servicio__item
		border: 20px solid #f9c7bb
	.servicio__item__img
		left: 0
	.servicio__item__title
		width: 100%
@media screen and (max-width: 780px)
	.ctn__servicios__items
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center
	.servicio__item
		width: 90%
		margin: auto
		margin-bottom: 20px
	.servicio__item .servicio__item__title
		right: 0
	.servicio__item__title
		text-align: right
	.servicio__item
		&:nth-child(2)
			margin-top: 0
		&:last-child
			margin: auto
			margin-top: 0
	.galeria__buttons__ctn
		bottom: -53px
	.item__galeria
		width: 50%
		&:first-child
			width: inherit
			margin: inherit
			height: auto
		&:nth-child(2)
			width: inherit
			margin: inherit
		&:nth-child(3)
			width: inherit
			margin: inherit
			height: 300px
		&:nth-child(4)
			width: inherit
			margin: inherit
		&:last-child
			width: inherit
			margin: inherit
@media screen and (max-width: 550px)
	.item__galeria
		&:first-child
			width: inherit
			margin: inherit
			height: auto
		&:nth-child(2)
			width: inherit
			height: 245px
			margin: inherit
		&:nth-child(3)
			width: inherit
			margin: inherit
			height: 245px
		&:nth-child(4)
			width: inherit
			height: 245px
			margin: inherit
		&:last-child
			width: inherit
			height: 245px
			margin: inherit


