.banner__home__prin
	position: relative
	display: flex
	justify-content: flex-end
.banner__home
	position: relative
	width: 87%
.banner__home__top
	display: flex
	justify-content: flex-end
	flex-wrap: wrap
.banner__home__bar
	position: absolute
	top: -65px
	left: 0
	height: 1070px
	background: $c-4
	width: 24%
.banner__home__slider
	width: 93%
	height: 536px
	position: relative
	z-index: 2
	.slick-prev, .slick-next
		width: 32px
		height: 26px
	.slick-next, .slick-prev
		right: 120px
		left: inherit
		&:before
			font-family: icomoon
			font-size: 35px
			transition: all .3s ease-in-out
	.slick-prev
		margin-top: -30px
		z-index: 2
		&:before
			content: "\e609"
	.slick-next
		&:before
			content: "\e608"
	.slick-active
		.banner__home__logo figure
			opacity: 1
		.line-1
			height: 70px
			transition: all .5s ease-in
		.line-2
			width: 100%
			transition: all .5s ease-in .5s
		.line-3
			height: 100%
			transition: all .5s ease-in 1s
		.line-4
			width: 100%
			transition: all .5s ease-in 1.5s
		.line-5
			height: 70px
			transition: all .5s ease-in 2s
.banner__home__item
	width: 100%
	height: 536px
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $c-6
		opacity: .12
.banner__home__item__ctn
	display: flex
	align-items: center
	height: 100%
.banner__home__logo
	width: 100%
	margin: 0 auto
	max-width: 945px
	height: 335px
	position: relative
	z-index: 2
	figure
		width: 285px
		height: 100%
		margin: 0
		display: flex
		align-items: center
		transition: all .3s ease-in-out .4s
		opacity: 0
	img
		max-width: 100%
		display: block
		height: auto
		margin: 0
.banner__home__lines
	position: absolute
	top: 0
	right: 0
	width: 100%
	max-width: 790px
	height: 100%
	span
		background: $blanco
		position: absolute
.line-1
	width: 3px
	height: 0
	bottom: 265px
	left: 0
	// transition: all .3s linear .7s
.line-2
	height: 3px
	top: 0
	width: 0
.line-3
	width: 3px
	height: 0
	right: 0
	top: 0
.line-4
	height: 3px
	width: 0
	right: 0
	bottom: 0
.line-5
	width: 3px
	height: 0
	bottom: 0
	left: 0

@media screen and (min-width: 1025px)
	.banner__home__slider
		.slick-prev, .slick-next
			&:hover
				&:before
					color: $c-2

@media screen and (max-width: 1550px)
	.banner__home__slider
		.slick-next, .slick-prev
			right: 30px

@media screen and (max-width: 1330px)
	.banner__home__slider
		.slick-next, .slick-prev
			right: 120px

@media screen and (max-width: 1025px)
	.banner__home
		width: 100%

@media screen and (max-width: 980px)
	.banner__home__slider
		width: 100%
	.banner__home__bar
		display: none
	.banner__home__logo
		align-items: center
		max-width: 730px
	.banner__home__lines
		width: 100%
		left: 0
		max-width: 100%
	.banner__home__logo figure
		margin: auto
	.banner__home__slider .slick-next, .banner__home__slider .slick-prev
		right: 10px
	.banner__home__lines
		border: 4px solid white
	.banner__home__lines
		display: none
	.banner__home__logo
		border: 4px solid white

@media screen and (max-width: 550px)
	.banner__home__lines
		display: none
	.banner__home__item
		height: 496px
	.banner__home__slider .slick-next, .banner__home__slider .slick-prev
		top: 90%
	.banner__home__logo
		border: none


	.banner__home__bar
		display: none

	.banner__home__slider
		width: 100%

@media screen and (max-width: 990px)
	.banner__home__parraf
		p
			font-size: 15px

@media screen and (max-width: 390px)
	.banner__home__parraf
		p
			font-size: 14px

