.home__btn
	margin: 105px 0 0 0
	width: 100%
	text-align: center
.conocenos__btn
	margin: 50px 0 0 0
	width: 100%
	text-align: center
.servicios__btn
	margin: 50px 0 0 0
	width: 100%
	text-align: center


