.home__detalles
	padding-bottom: 30px

.home__detalles__container
	max-width: 1240px
	margin: auto
	padding: 0px 20px

.home__detalles__content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: flex-start
	margin-top: 100px

.home__detalles__three
	display: flex
	flex-direction: row
	flex-wrap: wrap
	justify-content: center

.home__detalles__box
	width: 22%
	margin: auto
	padding-left: 5px
	
	&:nth-child(2)
		margin-top: 150px

@media screen and (min-width: 1025px)
	.home__detalles__three
		.home__detalles__box
			transform: translateY(50%)
			transition: transform 2s
			opacity: 0
			&.active
				opacity: 1
				transition: all .8s ease-in-out
				transform: translateY(0)

.home__detalles__box__item
	position: relative

.home__detalles__box__number
	font-family: $t-2
	font-size: 126px
	color: $c-0
	font-weight: bold
	opacity: .2
	position: absolute
	top: -90px
	left: -30px

.home__detalles__item__title
	position: relative
	padding-bottom: 10px
	h4
		font-family: $t-0
		font-size: 18px
		color: $c-2
		margin-bottom: 0
		text-transform: uppercase
	&:before
		content: ''
		position: absolute
		bottom: 0
		left: 0
		width: 62px
		height: 1px
		background: $c-3

.home__detalle__item__text
	font-family: $t-0
	font-size: 15px
	color: $c-1
	padding: 30px 0px
	p
		margin-bottom: 0


@media screen and (max-width: 990px)
	.home__detalles__container
		max-width: 700px
		padding: 0px 20px
		margin: auto
	.home__detalles__content
		margin-top: 0px
	.home__detalles__box
		width: 35%
		margin: 120px 30px 0px 30px
		&:nth-child(2)
			margin-top: 120px


