.ctn__conocenos
	margin: 45px 0 0 0
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	padding: 0px 20px
	height: 600px
	display: flex
	align-items: center
.ctn__conocenos__slider
	width: 100%
	max-width: 900px
	margin: 0 auto
	.title__absolute
		color: $blanco
		opacity: .4
	.slick-prev, .slick-next
		width: 41px
		height: 18px
		margin-top: 20px
		&:before
			font-family: icomoon
			font-size: 18px
			transition: all .3s ease-in-out
	.slick-next
		right: 10%
		display: inline-block
		animation: next 1s infinite
		transition: all .3s linear
		&:before
			content: "\e90d"
			color: $c-0
	.slick-prev
		left: 10%
		z-index: 2
		display: inline-block
		animation: prev 1s infinite
		transition: all .3s linear
		&:before
			content: "\e90c"
			color: $c-0
		
.conocenos__parraf
	width: 100%
	max-width: 440px
	text-align: center
	margin: 0 auto
	color: $c-7
	font-family: $t-0
	font-size: 15px
	p
		margin: 52px 0 0 0
.conocenos__items
	display: flex
	justify-content: center
	margin: 10px 0 0 0
	li
		width: 15px
		margin: 0 7px 0 0
		&:last-child
			margin-right: 0
	img
		max-width: 100%
		height: auto
		display: block
.conocenos__name
	text-align: center
	margin: 35px 0 0 0
	h4
		font-weight: normal
		color: $c-2
		margin: 0
		font-family: $t-0
		text-transform: uppercase

@keyframes next
	0%
		right: 0
	50%
		right: 8px
	100%
		right: 0

@keyframes prev
	0%
		left: 0
	50%
		left: 8px
	100%
		left: 0