.ctn__galeria__prin
	width: 100%
	padding: 55px 0 0 0
	box-sizing: border-box
	padding-bottom: 120px
.ctn__galeria
	max-width: 1350px
	margin: auto
	padding: 0px 20px
.ctn__galeria__tab
	margin: 90px 0 0 0
	display: flex
	justify-content: space-between
	align-items: center
.galeria__tab
	padding-right: 20px
	box-sizing: border-box
	width: 175px
	li
		margin: 0 0 22px 0
		&:last-child
			margin: 0
	a
		color: $c-0
		font-size: 14px
		font-family: $t-0
		text-transform: uppercase
		display: block
		padding-bottom: 22px
		position: relative
		transition: all .3s ease-in-out
		&:before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			background: $c-3
			transition: all .3s ease
			height: 2px
			width: 0
		&.active
			color: $c-2
			&:before
				width: 40%
.ctn__galeria__img
	width: calc(100% - 175px)
	position: relative
.ctn__galeria__img__sec
	position: relative
	@media screen and (min-width: 1025px)
		&.active
			position: relative
			visibility: visible
			opacity: 1
			.item__galeria
				transform: scale(1)
.ctn__galeria__img__prin
	position: absolute
	top: 0
	left: 0
	opacity: 0
	visibility: hidden
	transition: all .3s ease-in-out
	z-index: -1
	width: 100%
	&.active
		position: relative
		opacity: 1
		visibility: visible
		z-index: 2
		.item__galeria
			transform: scale(1)
.ctn__galeria__items
	display: flex
	flex-wrap: wrap
.item__galeria
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	margin: 0
	display: flex
	transform: scale(.8)
	transition: all 1.4s ease-in-out
	align-items: flex-end
	position: relative
	&:first-child
		width: 34%
		height: 283px
		margin: 0 0 0 3.5%
	&:nth-child(2)
		width: 31.5%
		height: 315px
		margin: 45px 1.5% 0 1.5%
	&:nth-child(3)
		width: 26.85%
		height: 420px
		margin-top: 160px
	&:nth-child(4)
		width: 37.5%
		height: 301px
		margin: -280px 0 0 0
	&:last-child
		width: 31.5%
		height: 316px
		margin: -200px 0 0 1.5%
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: $c-4
		opacity: 0
		transition: all .3s ease-in-out
.galeria__title
	padding: 0 35px 35px 0
	transition: all .3s ease-in-out
	text-align: right
	width: 100%
	box-sizing: border-box
	opacity: 0
	position: relative
	z-index: 2
	h2
		color: $blanco
		font-size: 14px
		font-family: $t-0
		text-transform: uppercase
		margin: 0
.galeria__buttons__ctn
	position: absolute
	bottom: 40px
	left: 0
	width: 100%
	z-index: 2
.galeria__buttons
	display: none
	justify-content: space-between
	li
		cursor: pointer
		margin: 0
		font-family: $t-0
		font-size: 13px
		text-transform: uppercase
		color: $c-0
		position: relative
		transition: all .3s ease-in-out
		&:before
			font-family: icomoon
			position: absolute
			top: 0
		&.btn__gallery__prev
			padding-left: 55px
			&:before
				content: "\e90c"
				transition: all .3s ease-in-out
				left: 0
		&.btn__gallery__next
			padding-right: 55px
			&:before
				content: "\e90d"
				transition: all .3s ease-in-out
				right: 0
	&.active
		display: flex
@media screen and (min-width: 1025px)
	.banner__home__slider
		.slick-prev, .slick-next
			&:hover
				&:before
					color: $c-2
	.servicio__item
		&:hover
			border-color: rgba(212, 116, 122, .3)
	.galeria__tab
		a:hover
			color: $c-2
			&:before
				width: 40%
	.item__galeria:hover
		&:before
			opacity: .65
		.galeria__title
			opacity: 1
	.galeria__buttons
		li:hover
			color: $c-3

@media screen and (max-width: 780px)
	.ctn__galeria__tab
		justify-content: center
		flex-direction: row
		flex-wrap: wrap
	.ctn__galeria__items
		width: 100%
	.item__galeria
		width: 50% !important
	.galeria__tab
		width: 100%
	.ctn__galeria__img
		width: 100%
	.galeria__tab
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		padding-bottom: 40px
		li
			padding: 0px 20px
		.active
			&:before
				width: 100%
