.servicios__banner
	.banner__home
		height: 525px

	.banner__home__bar
		top: -78px
		height: 600px
		width: 27.5%
	.banner__home__slider
		height: 430px

	.banner__home__item
		height: 430px

	&.active
		.banner__home__logo figure
			opacity: 1
		.line-1
			height: 70px
		.line-2
			width: 100%
		.line-3
			height: 100%
		.line-4
			width: 100%
		.line-5
			height: 70px

.servicios__description
	padding-bottom: 150px
	padding-top: 100px

.servicios__description__content
	padding: 0px 20px

.servicios__title
	padding-bottom: 40px

.servicios__text
	max-width: 512px
	margin: auto
	font-family: $t-0
	font-size: 18px
	color: $c-0
	text-align: center
	p
		margin-bottom: 0

.servicios__galeria__main
	max-width: 1240px
	width: 100%
	padding: 0px 20px
	margin: auto
	box-sizing: border-box

.servicios__galeria__items
	overflow: hidden

.servicios__galeria__item
	display: block
	float: right
	width: calc(50% - 50px)
	transform: translateY(20%)
	transition: transform 1s
	margin-top: 122px

.box--one
	margin-top: 0
	width: 50%
.box--four
	float: left
	width: 43.333%
	margin-top: 170px

.box--two
	margin-top: 150px
	width: 33.333%
	float: left


.servicios__galeria__img
	overflow: hidden
	transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out
	img
		width: 100%
		height: auto
		transform: scale(1.5);
		transition: transform 1s;
.box__item__slider
	display: none
.servicios__galeria__content
	padding: 45px 0px

.servicios__galeria__title
	padding-bottom: 20px
	h3
		font-family: $t-0
		font-size: 28px
		color: $c-3
		margin-bottom: 0
		text-transform: uppercase

.servicios__galeria__text
	p
		font-family: $t-0
		font-size: 14px
		color: $c-0
		text-align: justify

@media screen and (min-width: 1025px)
	.servicios__galeria__item
		&.active
			transform: translateY(0)
			.servicios__galeria__img
				img
					transform: scale(1)

@media screen and (max-width: 1025px)
	.servicios__galeria__item
		transform: translateY(0)

	.servicios__galeria__img
		img
			transform: scale(1)
	.box__item__slider
		display: block
	.servicio__item
		margin: auto
		width: 70%
		&:last-child
			margin: auto
		&:first-child
			margin: auto
	.cont__slider__box
		padding-top: 30px
	
@media screen and (max-width: 960px)
	.servicios__text
		font-size: 14px
	
	.servicios__description
		padding-bottom: 90px

	.servicios__galeria__title
		h3
			font-size: 20px

	.box--four
		float: left
		margin-top: 120px
	.box--two
		margin-top: 100px

	.box--three
		margin-top: 70px

	.servicios__galeria__text
		p
			font-size: 13px
	.servicio__item
		width: 80%
@media screen and (max-width: 690px)
	.servicios__galeria__item
		width: 85%
		float: none
		margin: auto
	
	.servicio__item__img
		width: 50%
	.box--one
		width: 85%
		float: none
		margin: auto
	.box--four
		width: 85%
		float: none
		margin: auto
	.box--two
		width: 85%
	.servicio__item__img
		width: 50%
	.servicio__item .servicio__item__title
		right: 0
		position: absolute
@media screen and (max-width: 550px)
	.servicio__item
		width: 100%
	.servicio__item__img
		width: 60%
@media screen and (max-width: 390px)
	.servicios__galeria__item
		width: 100%
	.servicio__item__img
		width: 75%
	.box--one
		width: 100%
	.box--four
		width: 100%
	.box--two
		width: 100%
	.servicio__item .servicio__item__title
		right: 0