@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../fonts/Montserrat-ExtraLight.eot');
  src: url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
       url('../fonts/Montserrat-ExtraLight.woff') format('woff'),
       url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'),
       url('../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight') format('svg'),
       url('../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot');
  src: url('../fonts/Montserrat-Light.woff2') format('woff2'),
       url('../fonts/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light.ttf') format('truetype'),
       url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg'),
       url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
       url('../fonts/Montserrat-Regular.woff') format('woff'),
       url('../fonts/Montserrat-Regular.ttf') format('truetype'),
       url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Smoothie Shoppe';
  src: url('../fonts/Smoothie Shoppe.eot');
  src: url('../fonts/Smoothie Shoppe.woff2') format('woff2'),
       url('../fonts/Smoothie Shoppe.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Smoothie_Shoppe';
  src: url('../fonts/Smoothie_Shoppe.woff') format('woff'),
       url('../fonts/Smoothie_Shoppe.ttf') format('truetype'),
       url('../fonts/Smoothie_Shoppe.svg#Smoothie_Shoppe') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'SrikandyScript-Regular';
  src: url('../fonts/SrikandyScript-Regular.eot');
  src: url('../fonts/SrikandyScript-Regular.woff2') format('woff2'),
       url('../fonts/SrikandyScript-Regular.woff') format('woff'),
       url('../fonts/SrikandyScript-Regular.ttf') format('truetype'),
       url('../fonts/SrikandyScript-Regular.svg#SrikandyScript-Regular') format('svg'),
       url('../fonts/SrikandyScript-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



