extends ./_common/base.pug

//- css
append css
	link(rel="stylesheet", href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")

//- Contenido
block content
	.form__g__btn
		.button__down 
			h3 Contáctanos
			span.icon-arrow-bottom
	section.form__g
		.form__g__background(style=`background-image: url('/assets/img/formulario-fondo-img.png');`)
			.form__g__container
				.form__g__title
					.title__general.title__general__dos
						.title__absolute empieza ahora
						p
							span.title__blue Déjanos hacer
							span.title__pink el trabajo por ti
				.form__g__text
					p Estamos para ayudar a que su evento sea más fácil. Complete el siguiente formulario y ascesor de nuestras oficinas se pondrá en contacto.
				form.form__g__inputs
					ul
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="Nombre y Apellidos*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="email", class="validate[required] general__input__input" placeholder="e-mail*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="teléfono*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="tipo de evento*")
						li.form__g__box__input
							.form__g__input.form__g__input__datepicker
								.form__g__input__icon
									span.icon-calendario
								.form__g__input--calendario
								input.form__contact.form__contact--input.datepicker(type="text", class="validate[required] general__input__input" placeholder="fecha de evento*")
						li.form__g__box__input
							.form__g__input
								input.form__contact.form__contact--input(type="text", class="validate[required] general__input__input" placeholder="N° de invitados*")
						li.form__g__box__textarea
							.form__g__input
								textarea.form__contact.form__contact--textarea(name="mensaje", placeholder="detalle su evento*", class="validate[required]")
				.form__g__btn
					button.btn.btn-enlace.btn-pink( href='') ¡ENVIA AHORA! >>


//- js
append scripts 
	script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")
	script.
		$(()=>{

			//--- Jquery Datepicker Spanish
			$.datepicker.regional['es'] = {
				closeText: 'Cerrar',
				prevText: '<Ant',
				nextText: 'Sig>',
				currentText: 'Hoy',
				monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
				dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
				dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
				dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
				weekHeader: 'Sm',
				dateFormat: 'dd/mm/yy',
				firstDay: 1,
				isRTL: false,
				showMonthAfterYear: false,
				yearSuffix: ''
			};
			$.datepicker.setDefaults($.datepicker.regional['es']);

			$( ".datepicker" ).datepicker({
				numberOfMonths: 1,
				showButtonPanel: true,
				showOn: "both",
				// buttonImage: "../static/img/icon-flecha-down.png",
				buttonImageOnly: true,
				buttonText: "Select date"
			});
			$('.form__g__input--calendario').click(function() {
				$('.ui-datepicker-trigger').trigger('click');
			});
		})