extends ./_common/base.pug
//- btn
block content
	.title__general
		p
			span.title__blue Siempre pensando
			span.title__pink en los pequeños detalles
	.title__general.title__general__dos
		.title__absolute empecemos ahora
		p
			span.title__blue Porque sabemos como hacer
			span.title__pink que tu evento sea un éxito