// BUTTONS
.btn-enlace
	font-size: 13px
	text-transform: uppercase
	font-family: $t-0
	color: $blanco
	height: 45px
	background: $c-3
	line-height: 45px
	display: inline-block
	padding: 0 28px
	transition: all .3s ease-in-out
	border: none
	@media screen and (min-width: 1025px)
		&:hover
			box-shadow: 0px 0px 20px 5px rgba(223, 120, 126, .3)
.button__down
	text-align: center
	display: inline-block
	h3
		margin: 0 0 12px 0
		font-weight: normal
		color: $c-0
		font-size: 13px
		text-transform: uppercase
	span
		font-size: 35px
		color: $c-0
		display: inline-block
		animation: button 1s infinite
		transition: all .3s linear
		position: relative
@keyframes button
	0%
		top: 0
	50%
		top: 8px
	100%
		top: 0