.form__g__btn
	padding-bottom: 40px
	padding-top: 20px

.form__g__background
	width: 100%
	height: 100%
	background-repeat: no-repeat
	background-size: cover
	background-position: center

.form__g__container
	max-width: 1090px
	margin: auto
	padding: 50px 20px

.form__g__text
	max-width: 540px
	margin: auto
	font-family: $t-0
	font-size: 15px
	color: $c-0
	text-align: center
	padding-bottom: 60px

.form__g__title
	padding: 60px 0px
	.title__absolute
		color: $blanco
		opacity: .3

.form__g__inputs
	padding-bottom: 40px
	ul
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: center
		align-items: center

.form__g__box__input
	width: 27%
	padding: 0px 30px 40px 30px

.form__g__box__textarea
	width: 100%
	padding: 10px 30px 0px 30px

.form__g__input
	width: 100%
	height: 100%
	border-bottom: 1px solid $c-0
	@media screen and (min-width: 1025px)
		&:hover
			border-bottom: 1px solid $c-2
			transition: all .3s
			.form__contact--input::placeholder
				color: $c-2
			.form__contact--textarea::placeholder
				color: $c-2
			.form__g__input__icon
				color: $c-2

.form__contact
	border: none
	background: transparent
	width: 100%
	color: $c-0

.form__contact--input
	height: 50px
	font-family: $t-0
	color: $c-0
	font-size: 15px

.form__contact--textarea
	height: 40px
	font-family: $t-0
	color: $c-0
	font-size: 14px

.form__contact--input::placeholder
	font-family: $t-0
	color: $c-0
	text-transform: uppercase
	font-size: 13px

.form__contact--textarea::placeholder
	font-family: $t-0
	color: $c-0
	text-transform: uppercase
	margin: auto
	font-size: 13px

.form__g__btn
	text-align: center

.form__g__input__datepicker
	position: relative
	.ui-datepicker-trigger
		display: none

.form__g__input__icon
	position: absolute
	right: 0
	top: 0
	line-height: 3.2
	pointer-events: none
	color: $c-0

@media screen and (max-width: 990px)
	.form__g__box__input
		width: 40%

@media screen and (max-width: 640px)
	.form__g__container
		padding: 40px 20px

	.form__g__box__input
		width: 100%

	.form__g__box__textarea
		padding: 0 30px 30px 30px

	.form__g__title
		padding: 50px 0px

	.form__g__text
		padding-bottom: 30px

	.form__contact--input
		height: 40px

@media screen and (max-width: 390px)
	.form__g__box__input
		 padding: 0 0 25px 0
	
	.form__g__box__textarea
		padding: 10px 0 0 0
	
	.form__g__text
		font-size: 14px

