.title__general
	text-align: center
	position: relative
	display: inline-block
	width: 100%
	p
		font-weight: normal
		margin: 0
		font-size: 32px
		font-family: $t-0
		line-height: 1.15
		position: relative
		z-index: 2
	span
		display: block
		&.title__blue
			color: $c-2
		&.title__pink
			color: $c-3
.title__absolute
	position: absolute
	top: 50%
	transform: translateY(-50%)
	color: $c-0
	font-family: $t-5
	text-align: center
	width: 100%
	font-size: 130px
	opacity: .2
@media screen and (max-width: 1200px)
	.title__absolute
		font-size: 110px


@media screen and (max-width: 990px)
	.title__absolute
		font-size: 90px

	.title__general
			font-size: 25px

@media screen and (max-width:640px)
	.title__absolute
		font-size: 60px

	.title__general
		p
			font-size: 20px